.Calculator{
    min-width: 300px;
    width:30rem;
    border:1px solid #f04e58;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 5px;
    position:absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}
.calc-panel{
    width:100%;
    padding:.5rem 2rem .5rem 2rem;
    background:#FFD8CB;
}
.calc-screen input{
    width:100%;
    height: 3rem;
    line-height: 1.5rem;
    margin: 1rem auto;
    text-align: right;
    font-size: 24px;
    font-weight:bold;
    border-radius: 5px;
    border:1px solid #f04e58;

}
.calc-btn-list{
    height: auto;
    padding: .5rem .5rem .5rem .5rem;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    align-content: flex-start;
}
.calc-btn{
    box-sizing: border-box;
    flex: 0 0 18%;
    height: 3rem;
    font-size: 1.5rem;
    background-color:#f04e58;
    color:white;
    border-radius:5px;
    margin-top: 8px;
    margin-right: 5px;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:800px) {
  .calc-btn{
    flex: 0 0 23%;
  }
}
.operator-btn{
    background-color:#FA737D;
}
.equator-btn{
  background-color:#fff;
  color:#FA737D;
}
